html,
body {
  height: 100%;
}

.nav {
  display:flex;
  flex-direction: row;
  list-style: none;
}

.circletree_img {
  margin-top: 15px;
  margin-bottom: 0px;
}

.card-container, p, .i-box  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 30px;
  margin: auto;
  margin-top: 75px;
  background-color: #fff;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-img-bottom {
  max-width: 600px;
  max-height: 400px;
  padding-bottom:75px ;
}

.i-box {
  max-width: 800px;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  align-items: center;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solidrgba(0,0,0,.125); */
  border-radius: 0.25rem;
  margin-bottom: 1.10rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  width: 754px;
  height: 490px;
}

footer {
  margin-top: 150px;
}